Gen06_Rutas/Gen06_Rutas/Connected Services/ReferenciaMiServicioWeb/ChoferesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarChofer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChoferId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarChoferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarChoferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarChofer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apPaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apMaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaNac" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="licencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarChoferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarChoferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarChoferSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarChofer" />
  </wsdl:message>
  <wsdl:message name="eliminarChoferSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarChoferResponse" />
  </wsdl:message>
  <wsdl:message name="insertarChoferSoapIn">
    <wsdl:part name="parameters" element="tns:insertarChofer" />
  </wsdl:message>
  <wsdl:message name="insertarChoferSoapOut">
    <wsdl:part name="parameters" element="tns:insertarChoferResponse" />
  </wsdl:message>
  <wsdl:portType name="ChoferesWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarChofer">
      <wsdl:input message="tns:eliminarChoferSoapIn" />
      <wsdl:output message="tns:eliminarChoferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarChofer">
      <wsdl:input message="tns:insertarChoferSoapIn" />
      <wsdl:output message="tns:insertarChoferSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChoferesWSSoap" type="tns:ChoferesWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarChofer">
      <soap:operation soapAction="http://tempuri.org/eliminarChofer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarChofer">
      <soap:operation soapAction="http://tempuri.org/insertarChofer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChoferesWSSoap12" type="tns:ChoferesWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarChofer">
      <soap12:operation soapAction="http://tempuri.org/eliminarChofer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarChofer">
      <soap12:operation soapAction="http://tempuri.org/insertarChofer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChoferesWS">
    <wsdl:port name="ChoferesWSSoap" binding="tns:ChoferesWSSoap">
      <soap:address location="http://localhost:53047/ChoferesWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ChoferesWSSoap12" binding="tns:ChoferesWSSoap12">
      <soap12:address location="http://localhost:53047/ChoferesWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>